<!doctype html>  
<html lang="en" ng-app="main">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Softcare Forum">
		<meta name="author" content="Atos">
		<title>Softcare Forum</title>
		<!-- web browser icon -->
		<link rel="shortcut icon" href="index/img/favicon.ico">
		<!-- Bootstrap Core CSS -->
		<link href="index/css/bootstrap.min.css" rel="stylesheet">
		<!-- Custom CSS -->
		<link href="index/css/grayscale.css" rel="stylesheet">
		<!-- Custom Fonts -->
		<link href="index/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> 
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
		<script src="index/js/main.js"></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="index/js/bootstrap.min.js"></script>
		<!-- Plugin JavaScript -->
		<script src="index/js/jquery.easing.min.js"></script>
	</head>

	<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  ng-controller="mainController">

		<!-- Navigation -->
		<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
						<i class="fa fa-bars"></i>
					</button>
					<a class="navbar-brand page-scroll" href="#page-top">
						<i class="fa fa-play-circle"></i>  <span class="light">Softcare</span> Forum
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
					<ul class="nav navbar-nav">
						<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li>
							<a class="page-scroll" href="#about">About</a>
						</li>
						<li>
							<a class="page-scroll" href="#download">Forum</a>
						</li>
						<li>
							<a class="page-scroll" href="#contact">Contact</a>
						</li>
						<li>
							<a style="color: #ffb;" href="#" ng-click="toggleModal()">Login</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>

		<!-- Intro Header -->
		<header class="intro">
			<div class="intro-body">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="brand-heading">Softcare Forum</h2>
							<p class="intro-text">A meeting place for elderly people, their families and friends</p>
							<a href="#about" class="btn btn-circle page-scroll">
								<i class="fa fa-angle-double-down animated"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- About Section -->
		<section id="about" class="container content-section text-center">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>About Softcare</h2>
					<p>The SoftCare solution is a complex software application, based on the state-of-the-art in ICT that 
					aims at developing an innovative and integrated solution for the use of social inclusion tools by this elderly people and for the general 
					management (self-management included) of their medical problems.</p>
				</div>
			</div>
		</section>

		<!-- Download Section -->
		<section id="download" class="content-section text-center">
			<div class="download-section">
				<div class="container">
					<div class="col-lg-8 col-lg-offset-2">
						<h2>Softcare Discussion Board</h2>
						<p>A place to chat with family members and friends...</p>
						<a href="forums/list.page" class="btn btn-default btn-lg">Visit Forum</a>
					</div>
				</div>
			</div>
		</section>

		<!-- Contact Section -->
		<section id="contact" class="container content-section text-center">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Contact Sofcare administrators</h2>
					<p>Feel free to email us to provide some feedback on our applications, give us suggestions for new functionalities, or to just say hello!</p>
					<p><a href="mailto:atos.softcare@atos.net">atos.softcare@atos.net</a>
					</p>
					<ul class="list-inline banner-social-buttons">
						<li>
							<a href="https://twitter.com/fake_url" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
						</li>
						<li>
							<a href="https://github.com/fake_url" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
						</li>
						<li>
							<a href="https://plus.google.com/fake_url" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
						</li>
					</ul>
				</div>
			</div>
		</section>

		<!-- Footer -->
		<footer>
			<div class="container text-center">
				<p>Copyright &copy; Softcare Forum - Discussion Board - 2015 </p>
			</div>
		</footer>
		
		
		<!-- login modal window -->
		<modal title="Login form" visible="showModal">
			<div class="loginmodal-container2">
				<form role="form" ng-submit="login()">
					  <h5>Administrator Account</h5>
					  <div class="form-group">
							<label for="text">User name</label>
							<input type="text" class="form-control" id="user" placeholder="Enter user name" ng-model="user.user"/>
					  </div>
					  <div class="form-group">
							<label for="password">Password</label>
							<input type="password" class="form-control" id="password" placeholder="Enter password" ng-model="user.password"/>
					  </div>
					  <button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
	  </modal>

		<!-- Custom Theme JavaScript -->
		<script src="index/js/grayscale.js"></script>
	</body>
</html>
