<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EHealth.ClientApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Aladdin.ClientApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EHealth.ClientApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Aladdin.ClientApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="AppName" value="E-Health Client App" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <EHealth.ClientApplication.Properties.Settings>
      <setting name="UpdatesUri" serializeAs="String">
        <value>http://dev2.biomed.ntua.gr/aladdin/updates.xml</value>
      </setting>
      <setting name="OptionsLocked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ForumPage" serializeAs="String">
        <value>http://dafnis.atosorigin.es/DAFNI/Aladdin/home.php</value>
      </setting>
      <setting name="JustUpgraded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FirstInstallation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultLanguage" serializeAs="String">
        <value>en_UK</value>
      </setting>
      <setting name="AppName" serializeAs="String">
        <value>E-Health Application</value>
      </setting>
    </EHealth.ClientApplication.Properties.Settings>
    <Aladdin.ClientApplication.Properties.Settings>
      <setting name="UpdatesUri" serializeAs="String">
        <value>http://dev2.biomed.ntua.gr/aladdin/updates.xml</value>
      </setting>
      <setting name="OptionsLocked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ForumPage" serializeAs="String">
        <value>http://dafnis.atosorigin.es/DAFNI/Aladdin/home.php</value>
      </setting>
      <setting name="JustUpgraded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FirstInstallation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultLanguage" serializeAs="String">
        <value>en_UK</value>
      </setting>
      <setting name="AppName" serializeAs="String">
        <value>E-Health Application</value>
      </setting>
    </Aladdin.ClientApplication.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <EHealth.ClientApplication.Properties.Settings>
      <setting name="Aladdin_ClientApplication_aladdinService_StorageComponentImplService"
        serializeAs="String">
        <value>http://localhost:9080/softcare-ws/StorageComponent</value>
      </setting>
      <setting name="Aladdin_ClientApplication_thirdpartyService_ServicesComponentImplService"
        serializeAs="String">
        <value>http://e-health-ws-app-eu.herokuapp.com/ServicesComponent</value>
      </setting>
    </EHealth.ClientApplication.Properties.Settings>
    <Aladdin.ClientApplication.Properties.Settings>
      <setting name="Aladdin_ClientApplication_aladdinService_StorageComponentImplService"
        serializeAs="String">
        <value>http://localhost:9080/softcare-ws/StorageComponent?wsdl</value>
      </setting>
      <setting name="Aladdin_ClientApplication_thirdpartyService_ServicesComponentImplService"
        serializeAs="String">
        <value>http://localhost:9080/softcare-ws/ServicesComponent?wsdl</value>
      </setting>
    </Aladdin.ClientApplication.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>